body {
    
    background-size: cover; /* Ensures the image covers the whole viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Ensures the body takes up the full height of the viewport */
    margin: 0; /* Remove any default margin around the body */
    padding: 0;
  }


  
  .creature-img {
    width: 100px;
    height: auto;
  }
  
  .creature-message {
    position: absolute;
  bottom: 110%; /* Moves the message above the image */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  }
  


  .creature-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
  }
  
  .creature-container:hover .tooltip {
    visibility: visible;
  }