<head>
  <link rel="stylesheet" href="/styles/home-page.css" />
</head>

<div class="container mt-4 p-4">

    <h1 style="text-align: center;">Top ten dodos!! </h1>
    <div class="row">
      <ol class="list-group my-3">
        {{#each topTen as |user|}}
          <li
            class="list-group-item d-flex align-items-center justify-content-between"
          >{{addOne @index}}. User name: {{user.name}} // Score: {{user.highestScore}}</li>
        {{/each}}
      </ol>

    </div>



</div>